@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<style>
    #body {
        /*background: url('Images/background1.jpeg') left 0px top -12px no-repeat,
            url('Images/Contact.jpeg') left 0px top 1400px no-repeat,
            url('Images/Rates.jpg') left 0px top 2900px no-repeat,
            url('Images/Service Area.jpeg') left 0px top 4400px no-repeat,
            url('Images/Recommended.jpeg') left 0px top 5900px no-repeat,
            url('Images/Phoenix Pet Sitting Services.jpg') left 0px top 7400px no-repeat;*/
        color: black;
    }

    #backone {
        background: url('Images/background1.jpeg') left 0px top repeat;
        /*margin-bottom: 13.1%;*/
        font-size: 22px;
        /*min-height: 1418px;*/
        overflow-wrap: break-word;
    }

    #backtwo {
        font-size: 22px;
        /*min-height: 1500px;*/
        /*background-image: url('Images/Contact.jpeg');*/
    }

    #backthree {
        font-size: 22px;
        /*min-height: 1500px;*/
        /*background: url('Images/Service Area.jpeg') left 0px top repeat;*/
    }

    #backfour {
        font-size: 22px;
        /*min-height: 1500px;*/
        /*background: url('Images/Testimonials.jpeg') left 0px top repeat;*/
    }

    #backfive {
        font-size: 22px;
        /*min-height: 1500px;*/
        /*background: url('Images/Recommended.jpeg') left 0px top repeat;*/
    }

    #backsix {
        font-size: 22px;
        /*min-height: 1500px;*/
        /*background: url('Images/D-2 Labs Retrieving Stick - SMALL.JPG') left 0px top repeat;*/
    }
    #ImgMenuHeader {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        background: rgba(0,0,0,.4);
        /*margin-left:23px;
        margin-bottom: 0px;*/
        margin: auto;
        max-width: 500px;
        padding: 0px;
        text-indent: 0px;
        vertical-align: top;
    }
</style>

<div id="page-wrap">


    
    <div id="backone">
        <div style="text-align:center;" id="top">

            <div style="display:inline-flex">
                <img src="~/Images/4e00196f423d6e8f3296ceda1f54031c.png" style="max-width:64px; max-height:64px;" /><h1 style="margin-top:0px;">@Page.Title</h1>
                <img src="~/Images/4e00196f423d6e8f3296ceda1f54031c.png" style="max-width:64px; max-height:64px;" />
            </div>
            <h2 style="background-color:dodgerblue; color:white;"> In-Home Pet Sitting, Dog Walking Pet Express Taxi Service and Belly-Rub Specialists</h2>
            <p id="ImgMenuHeader" style="max-width:90%; margin:auto;">
                Our In-Home Pet Sitting, Dog Walking and Pet Express Taxi services allow your pets to remain in their own comfortable environment and on their own schedule while you are away at work or out-of-town. @*We provide professional, expert care of your pets, home and property.*@
                Our Mission is to provide your pets with the same excellent care, attention and devotion you provide them on a regular basis. We conduct business with the highest integrity, fulfilling our responsibilities to our clients to ensure your confidence and trust. We strive to earn your commitment to us for the future.


            </p>
        </div>

        <div style="text-align:center;">
            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">About Us</p>
                    <a href="~/Default.cshtml#About">
                        <img src="~/Images/Contact.jpeg" alt="Water Heater Repair Replacement Installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
    border-radius: 5px; max-height:250px; max-width:500px;" />
                    </a>
                </div>
            </div>


            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">Services</p>
                    <a href="~/Default.cshtml#Services">
                        <img src="~/Images/Phoenix Pet Sitting Services.jpg" alt="Garbage Disposal Repair Replacement Installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">Rates</p>
                    <a href="~/Default.cshtml#Rates">
                        <img src="~/Images/Z-Cat w Money - XSmall.JPG" alt="Other Bishop Fine Plumbing Services" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">Service Area</p>
                    <a href="~/Default.cshtml#ServiceArea">
                        <img src="~/Images/Service Area.jpeg" alt="Water Heater Repair Replacement Installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
    border-radius: 5px; max-height:250px; max-width:500px;" />
                    </a>
                </div>
            </div>


            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">Contact Us</p>
                    <a href="#Contact">
                        <img src="~/Images/Z-Black Rat with Computer Mouse - XSmall.JPG" alt="Garbage Disposal Repair Replacement Installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">Our Team</p>
                    <a href="#ourTeam">
                        <img src="~/Images/Phoenix Pet Sitting About.jpg" alt="Other Bishop Fine Plumbing Services" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">Testimonials</p>
                    <a href="#Testimonials">
                        <img src="~/Images/Testimonials.jpeg" alt="Water Heater Repair Replacement Installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
    border-radius: 5px; max-height:250px; max-width:500px;" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">Recommended Products</p>
                    <a href="#Recommended">
                        <img src="~/Images/Recommended.jpeg" alt="Garbage Disposal Repair Replacement Installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p id="ImgMenuHeader">Follow Us!</p>
                    <a href="#Follow">
                        <img src="~/Images/D-2 Labs Retrieving Stick - SMALL.JPG" alt="Other Bishop Fine Plumbing Services" style="width:100%; border: 2px solid #ccc;background-color: #eee;
                    max-height:250px; max-width:500px; border-radius: 5px;" />
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div id="backtwo">

        <div style="background-color:beige;">
            <h2 id="Contact">Contact Us</h2>
            <p>
                <a href="#top">Top</a>
            </p>


            <div style="width:100%; display:inline-flex;">

                <div style=" width:50%; ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d106339.2115656397!2d-112.1557988376531!3d33.602700366905694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x872b6dd0481f6a03%3A0xf73acacaad099f4!2sPhoenix+Pet+Sitters%2C+802+W+Dahlia+Dr%2C+Phoenix%2C+AZ+85029!3m2!1d33.6027201!2d-112.0857587!5e0!3m2!1sen!2sus!4v1530118719676" width="100%" height="498px;" allowfullscreen></iframe>
                </div>


                <div style="width:49%; display:inline-block; ">
                    <div style=" width:100%; ">
                        <h3 style="margin:0;padding:0;">Phoenix Pet Sitting Office Hours</h3>
                        <p style="text-align:center; margin-top:0;padding-top:0; text-indent:0; background-color:beige;">
                            7:00am-8:00pm
                            <br />
                            7 days per week
                            <br />
                            We provide services 365 days per year.
                            <br />


                            <a href="tel:+14807034155" title="Call Now For Phoenix Pet Sitting"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle; " alt="Phone" /><span style="color:black; font-weight:bold; font-size:24px; vertical-align:middle;">(480) 703-4155</span></a>
                            <br />
                            Email Us!
                        </p>
                        <form action="mailto:akirawebsolutions0@gmail.com" method="post" enctype="text/plain" style="text-align:center; background-color:dodgerblue;">
                            Name:<br>
                            <input type="text" name="name"><br>
                            @*E-mail:<br>
                        <input type="text" name="mail"><br>*@
                            Comment:<br>
                            <input type="text" name="comment" size="50"><br><br>
                            <input type="submit" value="Send">
                            <input type="reset" value="Reset">
                        </form>
                    </div>
                </div>


            </div>
        </div>

       
        <h3>Emergency Service:</h3>
        <p>
            We know sometimes you need a pet sitter on short notice, or an answer to a question right away. So please don’t hesitate to contact us outside of our regular hours if the need arises.
        </p>

        <h3>When Your Pet is in Our Care:</h3>
        <p>As part of our service will send you daily updates regarding your pets. However, please feel free to contact us 24/7 with any questions or concerns – because we know how important your pet is to you.</p>
    </div>

    
    <div id="backthree">
        <div style="background-color:beige;">
            <h2 id="ourTeam">Our Team</h2>
            <p>
                <a href="#top">Top</a>
            </p>

            <p>
                We are a family owned and operated professional in-home pet sitting service located in North Phoenix. The day-to-day business operation is done by owners Kevin and Wendy Mark, assisted by Darren Mark. Jillian is currently focusing on her career in Personnel and Communications. Our two additional family members are Alia (Lab mix who enjoys playing in thunderstorms) and her brother Zeke (who loves howling at fire trucks as they pass).
            </p>

            <p>
                Kevin and Wendy who grew up and then raised their own family in the Scottsdale and Phoenix areas have had the privilege of sharing their homes with many types of animals. Dogs they have loved range from Dachshunds, a Dachshund-Chihuahua mix, Boston Terriers, a Saint Bernard, Cockapoo, English Bulldog, and Boxers.
            </p>

        </div>
            <p>
                Kevin as a child was involved in 4-H and was a member of the ARBA – American Rabbit Breeders Association. His rabbits won blue ribbons at the Maricopa County Fair. He also rescued and raised Pigeons.
            </p>

            <p>
                Additionally, together they had a Zebra Dun horse name Geronimo; Cats named Snowflake, PJ, Slinky; Little-she and Pansy; a Tortoise; Tropical fish aquariums; a Green Parrot; Parakeets and Ducks.
            </p>
            <div style="background-color:beige;">
                <p>
                    Growing up the human kids, Darren and Jillian, had a diverse menagerie of pets including many Jumbo Rats; two Leopard Geckos named Apollo and Isabella; a Bearded Dragon named Angus; a Green Iguana named Gizmo; a Turtle; a Garter Snake; a Frog; a Water Snake; a Hermit Crab; many Hampsters; Guinea Pigs; a Sun Conure named Scooter; Betta Fish; Cats named Stormy, Ali-boo and Littlefoot; and Rabbits.
                </p>

                <p>
                    As a family they also had a large Saltwater aquarium for many years. Kevin spent many long hours designing and engineering his own apparatus for the tank.
                </p>

                <p>
                    The family dogs were an Afghan hound – Tazi; Rough Collie – Karli; Chocolate Lab – Starbucks; Australian Shepherd – Scully; German Shepherds – Schultz, Ace and Flash; Bichon-Frise and Poodle mix – Lucy; and a red Border Collie – Samantha.
                </p>
            </div>
                <p>
                    Darren and Jillian, spent many summers at the Phoenix Zoo attending Camp Zoo and learning about animals from all over the world. Jillian earned her Pet First Aid Certification during the Zoo Teen Program.
                </p>

                <p>
                    Because pets are such a large part of their home life, and they have experienced the worry and concern firsthand when having to leave their furry and scaly loved ones in the care of another when going away, they decided to expand their natural affinity for animals and experience into their professional lives as well. In this way they can help other pet owners by offering peace of mind that their pets are receiving the same excellent care, attention and devotion the Marks provide their own pets. Now you can relax and enjoy your time away knowing your pets are in their loving and capable hands!
                </p>

            </div>


    
    <div id="backfour">
        <div style=" background-color:beige;">

            <h2 id="Testimonials">Testimonials</h2>
            <p>
                <a href="#top">Top</a>
            </p>



        </div>
    </div>

    <div id="backfive">

        <h2 id="Recommended">Recommended Products &amp; Services</h2>
        <p>
            <a href="#top">Top</a>
        </p>
    </div>

    <div id="backsix">
        <div style=" background-color:beige;">
            <h2 id="Follow">Follow Us!</h2>
            <p>
                <a href="#top">Top</a>
            </p>
        </div>
        </div>
    </div>

<script>
    // Select all links with hashes
    $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function (event) {
            // On-page links
            if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                &&
                location.hostname == this.hostname
            ) {
                // Figure out element to scroll to
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                // Does a scroll target exist?
                if (target.length) {
                    // Only prevent default if animation is actually gonna happen
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000, function () {
                        // Callback after animation
                        // Must change focus!
                        var $target = $(target);
                        $target.focus();
                        if ($target.is(":focus")) { // Checking if the target was focused
                            return false;
                        } else {
                            $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                            $target.focus(); // Set focus again
                        };
                    });
                }
            }
        });
</script>

