@{
    Layout = "~/_SiteLayout.cshtml";
    //Page.Title = "Phoenix Pet Sitting";
    <meta name="keywords" content="Dog walking, play exercises, overnight pet sitting, Pet care Phoenix, In home pet care, Pet Feeding, Cleanup for dogs, Cats and Pet Sitting, North Phoenix Dog Walker , North Phoenix Pet Sitter, Pet Taxi" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Dog walking, play exercises, overnight pet sitting | Pet care Phoenix | In-home care, feeding, cleanup for dogs, cats and pets | North Phoenix Dog Walker | North Phoenix Pet Sitter | servicing Phoenix, Westwing Mountain, Sonoran Mountain Ranch, Terramar, Deer Valley Estates, Fletcher Heights, Wyndham Village, Patrick Ranch, Hillcrest Ranch, Sierra Verde, Highlands at Arrowhead Ranch, Arrowhead Ranch, Arrowhead Lakes, Top of the Valley, Pinnacle Hill, Pinnacle Heights, Stetson Valley, Stetson Hills, Pyramid Heights |" />

}


<style>
    #body {
        font-family: 'Times New Roman';
        color: black;
        background-color: white;
    }

    p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 1px;
        padding: 25px;
        margin-bottom: 0px;
    }

    h1, h2, h3, h4 {
        text-align: center;
        color: dodgerblue;
        margin-top: 0px;
        font-family: 'Palatino Linotype';
    }

    #backone {
        /*background-image: url('Images/Phoenix by dayE.jpg');
        background-size: cover;*/
        font-size: 20px;
        overflow-wrap: break-word;
    }

    #backtwo {
        font-size: 20px;
    }

    #backthree {
        font-size: 20px;
    }

    #backfour {
        font-size: 20px;
    }

    #backfive {
        font-size: 20px;
    }

    #backsix {
        font-size: 20px;
    }


    #page-wrap .top {
        margin-top: 0px;
    }

    #topalt {
        color: goldenrod;
    }

    table.tables td {
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    #areacodes {
        width: 45%;
        vertical-align: top;
        display: inline-block;
    }

    ul.areacodes {
        display: inline-block;
        text-align: center;
    }

    #subsectionTextLeft {
        text-align: left;
    }

    #subsectionTextRight {
        text-align: right;
    }

    submenuimg {
        width: 100%;
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
    }
</style>






<div id="page-wrap">


    <div id="backone">
        <div style="text-align:center;" id="top">

            @*<div style="display:inline-flex">
                    <img src="~/Images/4e00196f423d6e8f3296ceda1f54031c.png" style="max-width:64px; max-height:64px;" /><h1 style="margin-top:0px;">@Page.Title</h1>
                    <img src="~/Images/4e00196f423d6e8f3296ceda1f54031c.png" style="max-width:64px; max-height:64px;" />
                </div>*@
            <p style=" color:black; font-family:Arial;" class="subsectiontext"><span style="font-weight:bold;"> Welcome to Phoenix Pet Sitting! Our In-Home Pet Sitting, Dog Walking and Pet Express Taxi Services</span> allow your pets to remain in their own comfortable environment and on their own schedule while you are away at work or out-of-town. We provide professional, expert care of your pets, home and property.</p>

        </div>

        <div style="text-align:center;">
            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">About Us</p>
                    <a href="#About">
                        <img src="~/Images/Contact.jpg" class="submenuimg" alt="Phoenix Pet Sitting About Image" />
                    </a>
                </div>
            </div>


            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">Services</p>
                    <a href="#Services">
                        <img src="~/Images/Phoenix Pet Sitting Services.jpg" alt="Phoenix Pet Sitting Services Image" class="submenuimg" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">Rates</p>
                    <a href="#Rates">

                        <img src="~/Images/C-Blue-eyed cat - XSmall.JPG" alt="Phoenix Pet Sitting Rates Image" class="submenuimg" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">Service Area</p>
                    <a href="#ServiceArea">
                        <img src="~/Images/Phoenix Pet Sitting Service Map .jpg" alt="Phoenix Pet Sitting Service Map Image" class="submenuimg" />
                    </a>
                </div>
            </div>


            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">Contact Us</p>
                    <a href="~/Contact.cshtml#Contact">
                        <img src="~/Images/Z-Black Rat with Computer Mouse - XSmall.JPG" alt="Phoenix Pet Sitting Contact Image" class="submenuimg" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">Our Team</p>
                    <a href="~/Contact.cshtml#ourTeam">
                        <img src="~/Images/Phoenix Pet Sitting About.jpg" alt="Phoenix Pet Sitting Team Image" class="submenuimg" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">Testimonials</p>
                    <a href="~/Contact.cshtml#Testimonials">
                        <img src="~/Images/Testimonials.jpg" alt="Phoenix Pet Sitting Testimonials Image" class="submenuimg" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">Products</p>
                    <a href="~/Contact.cshtml#Recommended">
                        <img src="~/Images/Recommended.jpg" alt="Phoenix Pet Sitting Recommened Image" class="submenuimg" />
                    </a>
                </div>
            </div>

            <div style="width:30%; display:inline-block;">
                <div style="width:100%;">
                    <p class="ImgMenuHeader">Follow Us!</p>
                    <a href="~/Contact.cshtml#Follow">
                        <img src="~/Images/D-2 Labs Retrieving Stick - SMALL.JPG" alt="Phoenix Pet Sitting Social Media Image" class="submenuimg" />
                    </a>
                </div>
            </div>
        </div>


    </div>



    <div id="backtwo">

        <div style="background-color:#f8fff0">
            <h2 id="About">About Phoenix Pet Sitting</h2>

            <p><a href="#top" id="topalt">Top</a></p>





            <div style="width:100%;">
                <img src="~/Images/F-Saltwater Fish_Blue_XSmall.jpg" alt="About Phoenix Pet Sitting" class="sectionimg" align="right" />
                @*<p id="subsectionTextLeft" class="subsectiontext">
                        Our In-Home Pet Sitting, Dog Walking and Pet Express Taxi services allow your pets to remain in their own comfortable environment and on their own schedule while you are away at work or out-of-town.
                        We provide professional, expert care of your pets, home and property.
                    </p>*@


                <p class="subsectiontext">
                    We are a full service and family owned and operated pet sitting company.
                    Our family of pet sitters is made up of professionals with a high affinity for all types of pets.
                    We recognize that no one knows your pets better than you, so every service we offer is customized to provide the best pet sitting experience possible.
                    Additionally, each and every member of our pet sitting family is bonded, insured, background checked and Pet CPR and First Aid Certified!
                </p>

                <img src="~/Images/RP-Angus.jpg" alt="About Phoenix Pet Sitting" class="sectionimg" align="left" />

                <p class="subsectiontext">
                    We provide expert care to Dogs, Cats, Rabbits, Ferrets, Salt and Freshwater Fish, Birds, Reptiles and Horses, and more
                    – We love them all! When you are away for work or recreation, you can relax and enjoy peace of mind knowing that your pets will receive the best pet sitting services available with customized attention and quality care in every visit.
                    We want to be your number one pet sitting choice in the Greater Phoenix Area.
                </p>

                <p class="subsectiontext">
                    Call us now to schedule your FREE INTIAL CONSULTATION where we will customize our services to the individual needs of your pets!
                </p>
            </div>
        </div>
    </div>

    <div id="backthree">
        <div>
            <h2 id="Services">Services</h2>

            <p><a href="#top" id="topalt">Top</a></p>
            <div style="width:100%;">

                <p id="subsectionTextLeft" class="subsectiontext">

                    Our family of pet sitters is made up of professionals with a high affinity for all types of pets. We recognize that no one knows your pets better than you, so every service we offer is fully customized to provide the best care possible. In addition, we are available by phone 24/7 while your pets are in our care.
                </p>

                <p class="subsectiontext">
                    Each and every member of our pet sitting family is BONDED, INSURED and PET CPR and FIRST AID CERTIFIED!
                </p>
                <h3>Pet Sitting Services</h3>
                <p class="subsectiontext">
                    When you must be away we provide your pets with the same excellent care, devotion and attention you give them on a regular basis, while expertly caring for your home and property. We provide frequent communication and updates so you can relax and enjoy your trip, knowing your pets’ needs are well-cared for.
                </p>

                <p class="subsectiontext">
                    We offer Live-In Service and Overnights. We also offer 120 – 60 – 45 – 30 or 20 Minute Visits. These visits can be done in any combination; once, twice or three times per day.
                </p>

                <div style="text-align:center; margin:auto;">


                    <img src="~/Images/H-Horses_2 Brown_Small.jpg" alt="Pet Sitting Services" style="border: 2px solid #ccc;background-color: #eee;
                    border-radius: 5px; max-width:33%; max-height:285px;" />
                    <img src="~/Images/Black Labrador Fetching Stick from the .jpg" alt="Pet Sitting Services" style="border: 2px solid #ccc;background-color: #eee;
                    border-radius: 5px; max-width:33%;  max-height:285px;" />
                    <img src="~/Images/B-Hyacinth Macaws - XSmall.JPG" alt="Pet Sitting Services" style="border: 2px solid #ccc;background-color: #eee;
                    border-radius: 5px; max-width:33%; " />
                </div>
            </div>


            <div style="background-color:#f8fff0;">
                <h3 class="subsectiontext">All Pet Sitting Services Include:</h3>
                <img src="~/Images/FER-Ferrets - XSmall.JPG" alt="All Pet Sitting Services" class="sectionimg" align="right" />


                <ul>
                    <li>
                        Love, attention and play time
                    </li>

                    <li>
                        Dog walks
                    </li>
                    <li>
                        Providing fresh food and water
                    </li>
                    <li>
                        Scooping litter boxes and cleaning surrounding area
                    </li>
                    <li>
                        Tidying up pet’s habitat
                    </li>
                    <li>
                        Administration of medications
                    </li>
                    <li>
                        Newspapers, flyers, packages and mail collected and brought inside
                    </li>
                    <li>
                        Water plants inside or outdoor
                    </li>
                    <li>
                        Lights and blinds alternated
                    </li>
                    <li>
                        Trash and recycle bins taken in/out
                    </li>
                    <li>
                        Clean-up after pets on walk or in yard
                    </li>
                    <li>
                        Basic Pool Maintenance (add water and chlorine tablets as needed)
                    </li>
                    <li>
                        Check your home and yard after storms
                    </li>
                    <li>
                        And more…
                    </li>
                </ul>

                <p class="subsectiontext">Of course every visit includes Belly-Rubs and Ear (or Rear) Scratches at no additional charge.</p>
            </div>


            <h3 class="subsectiontext">Overnight Services</h3>
            <img src="~/Images/D-Boxer Sleeping on Couch - XSmall.jpg" alt="Overnight Pet Sitting Services" class="sectionimg" align="left" />

            <p class="subsectiontext">
                Allows your pets to enjoy the comfort and security of their own home while you’re away. We can provide specialized attention to puppies, special needs and elderly dogs. We offer three levels of Overnight Service for your pets and home to meet different needs. We will arrive by 8pm and stay until 7am. We can also add a mid-day potty break or walk. If you desire we can also provide an Extended Overnight where we will arrive earlier in the evening, usually by 5pm and stay over until 7 am. The above list of services is included in our Overnight Service.
            </p>
            <img src="~/Images/C-Calico Cat - XSmall.jpg" alt=" Live-In Pet Sitting Services" class="sectionimg" align="right" />
            <h3 class="subsectiontext">Live-In Services</h3>
            <p class="subsectiontext">
                Our most comprehensive and stress-free service for you and your pets. This service includes the above list plus full time care for your home and pets. We will stay in your home each day with two three-hour breaks which allow us to care for our own homes, families and pets. We do ask you to please schedule this service two or more weeks in advance if possible.
            </p>
            <br /> <br />

            <div style="background-color:#f8fff0;">
                <h3>Daily Service</h3>
                <h4 class="subsectiontext">Potty 'N Play Breaks</h4>
                <img src="~/Images/D-Merle Border Collie w Frisbee - XSmall.JPG" class="sectionimg" align="left" alt="Potty and Play Breaks Services" />
                <img src="~/Images/D-Yorkshire Terrier - XSmall.JPG" class="sectionimg" align="right" alt="Dog Walking Services" />
                <p class="subsectiontext">
                    Our 20 minute Potty ‘N Play Break is a daily service designed for pets that need be taken outside on a regular schedule for fresh air, change of environment and to potty. We use lots of patience, encouragement and praise, with any extra time spent for exploration and play. This service is very beneficial for seniors, puppies and other pets that tend to “get into trouble” whether from loneliness or boredom, but giving them some playtime to look forward to while you are at work.
                </p>

                <h4 class="subsectiontext">Dog Walking</h4>
                <p class="subsectiontext">
                    Imagine never getting to leave your house day after day. Even if you have a yard, dogs need daily exercise for both mental and physical stimulation. Special attention is given to customize our service, in close coordination with you, to give your pets an enjoyable outing, especially during the hot summer months in our Arizona Desert. We take special care that each pet is exercised safely and appropriately for his or her breed, age and individual personality.
                </p>
            </div>
            <h3> Other Services:</h3>
            <h4 class="subsectiontext">Horses</h4>
            <img src="~/Images/H-Horse_Sideways_XSmall.jpg" class="sectionimg" align="right" alt="Horse Pet Sitting Services" />
            <p class="subsectiontext">Please call to see if our services are a match for your horses’ needs. Available horse care visits are 30-45-60-120 Minute visits. We can provide Live-In or Overnight services as well.</p>




            <h4 class="subsectiontext"> Pet Express Taxi</h4>
            <img src="~/Images/D-Mastiff in Car.jpg" class="sectionimg" align="left" alt="Pet Express Taxi Services" />
            <p class="subsectiontext">
                The Pet Express can transport your pet to just about any destination you may need. Our service includes picking up and delivering needed pet supplies, getting your pet to the airport, veterinarian or groomer safely and on-time for their appointment. We can accompany your pet throughout the visit if desired. We can also coordinate communication between you and your vet or groomer, as needed. We will then return your pet home and get him or her settled in to their normal environment with fresh food and water to await your arrival.
                <br /><br /><br />
            </p>
        </div>
    </div>

    <div id="backfour">
        <div style="background-color:#f8fff0;">
            <h2 id="Rates" style="margin-top:0px;">Rates</h2>
            <p><a href="#top" id="topalt">Top</a></p>

            <div style="text-align:center; margin-right:4%;">
                <table class="tables" style="width:100%;">
                    <tr>
                        <th style="text-align:center;">

                        </th>
                        <th style="text-align:center;">
                            With 10% Discount*
                        </th>
                        <th style="text-align:center;">
                            Regular Price
                        </th>
                    </tr>

                    <tr>
                        <td>Live-In (18 hours per day)	</td>
                        <td style="color:limegreen">$ 99.99</td>
                        <td>$ 111.00</td>
                    </tr>
                    <tr>
                        <td>Extended Overnights (Generally 5pm – 7am)</td>
                        <td style="color:limegreen">$ 89.99</td>
                        <td>$ 99.99</td>
                    </tr>
                    <tr>
                        <td>Overnights Plus Mid-day visit</td>
                        <td style="color:limegreen">$ 79.99</td>
                        <td>$ 88.88</td>
                    </tr>
                    <tr>
                        <td>Overnights (Generally 8pm – 7am)</td>
                        <td style="color:limegreen">$ 69.99</td>
                        <td>$ 77.77</td>
                    </tr>
                    <tr>
                        <td>120 Minute visit or walk</td>
                        <td style="color:limegreen">$ 44.99</td>
                        <td>$ 49.99</td>
                    </tr>
                    <tr>
                        <td>60 Minute visit or walk</td>
                        <td style="color:limegreen">$ 34.99</td>
                        <td>$ 38.88</td>
                    </tr>
                    <tr>
                        <td>45 Minute visit or walk</td>
                        <td style="color:limegreen">$ 29.99</td>
                        <td>$ 33.33</td>
                    </tr>
                    <tr>
                        <td>30 Minute visit or walk</td>
                        <td style="color:limegreen">$ 24.99</td>
                        <td>$ 27.77</td>
                    </tr>
                    <tr>
                        <td>Potty ‘N Play Breaks</td>
                        <td style="color:limegreen">$ 21.99</td>
                        <td>$ 24.44</td>
                    </tr>
                    <tr>
                        <td>Pet Express Pet Taxi (based on availability)</td>
                        <td></td>
                        <td>$ 20 per ½ hour including any wait time</td>
                    </tr>
                    <tr>

                        <td>Additional Pet Fees</td>
                        <td></td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Holiday Fees</td>
                        <td></td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Medication Administration Charge</td>
                        <td></td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Emergency Fees</td>
                        <td></td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Key Return - Certified Mail or In Person</td>
                        <td></td>
                        <td>$ 10.00</td>
                    </tr>
                    <tr>
                        <td>Out of Area Charge</td>
                        <td></td>
                        <td>$ 5.00 Per Visit</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="text-align:center;">
            <h2 class="subsectiontext">Additional Information</h2>
            <h3 class="subsectiontext">*Discounts</h3>
            <img src="~/Images/FER-Ferrets - XSmall.JPG" class="sectionimg" align="right" alt="Discount Services" />

            <p class="subsectiontext">
                Get 10% OFF visits and walks when you schedule a minimum of 3 visits in a seven day period. (Discount does not apply to Pet Express Pet Taxi service.)<br />

            </p>

            <h3 class="subsectiontext">Referrals</h3>
            <p class="subsectiontext">
                Refer a new client who schedules 3 or more visits and receive $25.00 OFF your next service.
            </p>
            <br />

            <div style="background-color:#f8fff0;">

                <h3 class="subsectiontext">Methods Of Payment</h3>


                <img src="~/Images/Major-Credit-Card-Logo-PNG-Image.png" class="sectionimg" alt="Methods of Payment" /><br />
                <img src="~/Images/Z-Cat w Money - XSmall.JPG" class="sectionimg" align="left" alt="Cancellation Policy" />

                <p style="text-align:left;" class="subsectiontext">
                    We accept Cash, Most Major Credit and Debit Cards as well as ACH Payments.<br />

                </p>
                <br />
                <h3 class="subsectiontext">Cancellation Policy</h3>
                <p style="text-align:left;" class="subsectiontext">
                    <span style="font-weight:bold;"> 48 Hours or Less</span>
                    prior to any service date: 50% of service total will be refunded.
                </p>
                <br />
                <p style="text-align:left;" class="subsectiontext">
                    <span style="font-weight:bold;"> 48 Hours or More</span>
                    Prior to service date: 100% Full Refund.
                </p>
                <br /><br /><br />
            </div>
        </div>

        <div id="backfive">
            <div>
                <h2 id="ServiceArea">Service Area</h2>
                <p><a href="#top" id="topalt">Top</a></p>
                <div style="display:inline-flex; max-width:49%;">
                    <div>
                        <img src="~/Images/Phoenix Pet Sitting Service Map .jpg" style="max-width:100%; " alt="Phoenix Pet Sitting Service Map" />
                    </div>
                </div>
                <div style="display:inline-block; vertical-align:top; max-width:49%; background-color:#f8fff0;">
                    <div>

                        <p>Phoenix Pet Sitting is pleased to provide our customized services to the Greater Phoenix Area.</p>
                        <p>If your zip code is not listed below, please contact us — we may serve your area.</p>
                        <br />
                        <img src="~/Images/Phoenix by dayE.jpg" alt=" Phoenix Pet Sitting Service Area Map" style="border: 2px solid #ccc;background-color: #eee;
                    border-radius: 5px; max-width:100%;" align="bottom" />
                        <div style="text-align:center; max-width:100%;"><a class="button2" href="~/Contact.cshtml#Contact" style="background-color:green; width:100%; padding:0;">Schedule a FREE Initial Consultation </a></div>
                    </div>
                </div>
            </div>
            <div id="areacodes" style="text-align:center;">

                <h4 style="text-align:center;">Phoenix</h4>

                <ul class="areacodes">
                    <li>85008</li>
                    <li>85018</li>
                    <li>85032</li>
                    <li>85085</li>
                    <li>85051</li>
                    <li>85012</li>
                </ul>
                <ul class="areacodes">
                    <li>85020</li>
                    <li>85025</li>
                    <li>85050</li>
                    <li>85054</li>
                    <li>85013</li>
                    <li>85021</li>
                </ul>
                <ul class="areacodes">
                    <li>85022</li>
                    <li>85027</li>
                    <li>85083</li>
                    <li>85014</li>
                    <li>85023</li>
                    <li>85028</li>
                </ul>
                <ul class="areacodes">
                    <li>85053</li>
                    <li>85024</li>
                    <li>85016</li>
                    <li>85086</li>
                    <li>85003</li>
                    <li>85009</li>
                    <li>85029</li>

                </ul>
            </div>
            <div id="areacodes" style="text-align:center;">
                <h4>Scottsdale</h4>
                <ul class="areacodes">
                    <li>85008</li>
                    <li>85253</li>
                    <li>85259</li>
                    <li>85265</li>
                    <li>85250</li>
                    <li>85254</li>
                </ul>
                <ul class="areacodes">
                    <li>85260</li>
                    <li>85266</li>
                    <li>85251</li>
                    <li>85255</li>
                    <li>85261</li>
                    <li>85267</li>
                </ul>
                <ul class="areacodes">
                    <li>85252</li>
                    <li>85258</li>

                </ul>

            </div>
            <div style="background-color:#f8fff0; ">
                <div id="areacodes" style="text-align:center;">
                    <h4 style="text-align:center;">Carefree - Cave Creek</h4>
                    <ul class="areacodes">
                        <li>85377</li>
                        <li>85327</li>
                        <li>85331</li>
                        <li>85085</li>
                    </ul>
                </div>

                <div id="areacodes" style="text-align:center;">
                    <h4>Glendale &amp; Peoria</h4>
                    <ul class="areacodes">
                        <li>85301</li>
                        <li>85308</li>
                        <li>85318</li>
                        <li>85382</li>
                    </ul>
                    <ul class="areacodes">
                        <li>85302</li>
                        <li>85310</li>
                        <li>85345</li>
                        <li>85383</li>
                    </ul>
                    <ul class="areacodes">
                        <li>85304</li>
                        <li>85311</li>
                        <li>85380</li>

                    </ul>
                    <ul class="areacodes">
                        <li>85306</li>
                        <li>85312</li>
                        <li>85381</li>

                    </ul>
                </div>
            </div>
            <div id="areacodes" style="text-align:center;">
                <h4 style="text-align:center;">Paradise Valley</h4>
                <ul class="areacodes">
                    <li>85253</li>
                    <li>85028</li>
                    <li>85331</li>
                    <li>85085</li>
                </ul>
            </div>
            <div id="areacodes" style="text-align:center;">
                <h4>Sun City</h4>
                <ul class="areacodes">
                    <li>85351</li>
                    <li>85372</li>
                    <li>85373</li>
                </ul>
            </div>

        </div>

    </div>


</div>





<script>

    $('a[href*="#"]')

        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function (event) {

            if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                &&
                location.hostname == this.hostname
            ) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');

                if (target.length) {

                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000, function () {

                        var $target = $(target);
                        $target.focus();
                        if ($target.is(":focus")) {
                            return false;
                        } else {
                            $target.attr('tabindex', '-1');
                            $target.focus();
                        };
                    });
                }
            }
        });
</script>
